@charset "UTF-8";
:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Merriweather", sans-serif;
  --grey: #333441;
  --grey-07: rgba(51, 52, 65, 0.7);
  --gold: #c08f53;
  --white: #fff;
  --white-08: rgba(255, 255, 255, 0.8);
  --white-03: rgba(255, 255, 255, 0.3);
  --light-gold: #f4cb8e;
  --line: #d6d6d9;
  --header-height: 125px;
  --swiper-navigation-size: 88px;
}

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v26-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/merriweather-v30-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v30-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-gutter: stable;
  scroll-padding-top: var(--header-height);
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  line-height: 1.4;
  max-width: 100%;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-07);
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

figure {
  margin-inline: 0;
}

input,
textarea,
a,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

input,
textarea {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
}

address {
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

[class*=copyrights-pane] {
  display: none !important;
}

[data-simplebar] {
  max-width: 100%; /* Задает максимальную ширину для скроллируемой области */
  overflow-x: auto; /* Разрешает горизонтальный скролл */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
  color: var(--grey);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.overflow-hidden {
  max-width: 100%;
  overflow-x: hidden;
}

.object-scroll {
  max-width: 100%;
  overflow: auto;
}
.object-scroll a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* Скрывает элементы на экранах с максимальной шириной 767px */
@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
}
/* Скрывает элементы на экранах с шириной от 768px до 1379px */
@media (min-width: 768px) and (max-width: 1379px) {
  .tablet-hide {
    display: none !important;
  }
}
/* Скрывает элементы на экранах с минимальной шириной 1380px */
@media (min-width: 1380px) {
  .desktop-hide {
    display: none !important;
  }
}
.button {
  padding: 20px 27px;
  background-color: transparent;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  min-height: 64px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.button span {
  position: relative;
  z-index: 2;
}
.button svg {
  position: relative;
  z-index: 2;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  pointer-events: none;
  z-index: 0;
  background-color: var(--gold);
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0;
}
.button--icon {
  display: grid;
  gap: 12px;
  grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button--icon svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button--full {
  max-width: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button--transparent::before {
  display: none;
}
.button--border::before {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #ffffff;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.button:hover {
  color: var(--white);
}
.button:hover::before {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
@media (max-width: 767px) {
  .button {
    min-height: 50px;
    padding: 10px 24px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 125%;
  color: var(--grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.title--mod:after {
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background-color: var(--gold);
  margin-left: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .title {
    font-size: 25px;
    margin-bottom: 9px;
  }
}

.wrapper {
  max-width: 1504px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 48px;
}
@media (max-width: 1503px) {
  .wrapper {
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    padding-inline: 40px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-inline: 20px;
  }
}

.icon-move svg {
  overflow: visible;
}
.icon-move__obj {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.icon-vert-move {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-vert-move__obj {
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover .icon-vert-move__obj {
  opacity: 1;
  height: auto;
}

.button:hover .icon-move__obj {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.button.up .icon-move {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.button.down .icon-move {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c49156;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.logotype__scroll {
  display: none;
  position: absolute;
}
.logotype__scroll svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.logotype__static {
  position: absolute;
}
.logotype__static svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.logotype__mobile {
  display: none;
}
.logotype__mobile svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.logotype:hover {
  color: var(--light-gold);
}
.logotype:hover .logotype__vector {
  fill: currentColor;
}
@media (max-width: 767px) {
  .logotype__scroll {
    display: none !important;
  }
  .logotype__static {
    display: none !important;
  }
  .logotype__mobile {
    display: block;
  }
}

.mobile-contacts {
  margin-top: auto;
}
.mobile-contacts__link {
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);
  border-top: 1px solid var(--white-03);
  height: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-contacts__link--icon {
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  display: grid;
  gap: 12px;
  grid-template-columns: auto auto;
}

.buttons-group {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
.buttons-group .swiper-button {
  position: initial;
  margin: 0;
  -webkit-transform: none;
          transform: none;
}
.buttons-group .swiper-button {
  border-top: none;
}
.buttons-group--vertical {
  grid-template-columns: repeat(1, 1fr);
}

.big {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0;
  padding: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 120px;
  line-height: 1;
  color: #C08F53;
}

.swiper-button {
  background-color: transparent;
  border: 1px solid var(--white-03);
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-button:hover {
  background-color: var(--gold);
  border: 1px solid var(--gold);
}
.swiper-button svg {
  width: initial;
  height: initial;
}
.swiper-button::after, .swiper-button::before {
  display: none;
}

.navigation {
  width: 100%;
  max-width: 100%;
}
.navigation__list {
  width: 100%;
  max-width: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(6, auto);
  position: relative;
  height: 100%;
}
.navigation__item {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.navigation__icon {
  position: absolute;
  top: 26px;
  left: 50%;
  color: var(--gold);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navigation__icon path {
  stroke: currentColor;
}
.navigation__text {
  position: relative;
  z-index: 2;
}
.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-inline: 20px;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--white);
}
.navigation__link:hover .navigation__icon, .navigation__link:active .navigation__icon, .navigation__link:focus .navigation__icon {
  color: var(--light-gold);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: transparent;
  width: 80px;
  height: 80px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid var(--white-03);
  padding-bottom: 20px;
}
.menu-button span,
.menu-button span::after,
.menu-button span::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: var(--gold);
}
.menu-button span::after,
.menu-button span::before {
  content: "";
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-button span::before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  width: 32px;
}
.menu-button span::after {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  width: 32px;
}
@media (max-width: 767px) {
  .menu-button {
    width: 40px;
    height: 40px;
  }
}

.menu-button-group {
  display: none;
}
@media (max-width: 1504px) {
  .menu-button-group {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .menu-button-group__label {
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    bottom: 12px;
    left: 0;
    width: 100%;
  }
}

.main {
  min-height: 100vh;
}

.hero-slide {
  color: #ffffff;
  background-color: #000000;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}
.hero-slide__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero-slide__bg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-slide__group {
  position: relative;
  z-index: 2;
  padding-top: var(--header-height);
  padding-bottom: 70px;
  margin-bottom: 175px;
}
.hero-slide .title {
  color: inherit;
}
.hero-slide .text {
  color: inherit;
}

.custom-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.custom-grid__col-9-12 {
  grid-column-start: 9;
  grid-column-end: 12;
}
@media (max-width: 1023px) {
  .custom-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 767px) {
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  color: var(--white);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid var(--white-03);
}
.header__grid {
  display: grid;
  gap: 0;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 208px 1fr 208px;
  position: relative;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .button {
  width: 100%;
  max-width: 100%;
  padding-inline: 16px;
  min-height: 60px;
}
.header .button::before {
  -webkit-transform: none;
          transform: none;
  border-top: none;
}
.header .button:last-of-type::before {
  border-bottom: none;
}
.header .button:hover {
  color: var(--light-gold);
}
.header .button:hover .social path {
  fill: #27ae60;
}
.header .button:hover svg {
  scale: 1.2;
}
.header__logotype {
  border-right: 1px solid var(--white-03);
  border-left: 1px solid var(--white-03);
}
.header__navigation {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navigation {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu-button {
  display: none;
}
@media (max-width: 1504px) {
  .header__grid {
    grid-template-columns: 208px 1fr;
    min-height: 80px;
  }
  .header__navigation {
    display: none;
  }
  .header__contacts {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3, auto);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-left: auto;
  }
  .header .button::before {
    border-bottom: none;
    border-top: none;
  }
  .header .button:first-of-type::before {
    border-right: none;
  }
  .header .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
@media (max-width: 1023px) {
  .header .header__contacts {
    max-width: 100%;
    width: 100%;
  }
  .header .header__logotype {
    border-right: none;
    padding: 7px 0 0;
  }
  .header .header__contacts {
    grid-template-columns: 1fr 1fr auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header .logotype {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header .button {
    width: 60px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .button .social,
  .header .button svg {
    display: block;
  }
  .header .header__logotype {
    border-left: none;
  }
  .header .header__grid {
    grid-template-columns: auto 1fr;
    min-height: 60px;
  }
  .header .menu-button-group__label {
    display: none;
  }
  .header .menu-button {
    padding-bottom: 0;
    width: 60px;
  }
}

.mobile-nav {
  display: none;
}
@media (max-width: 1504px) {
  .mobile-nav {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 888;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: var(--grey);
    padding-top: 150px;
    overflow: auto;
    right: 100%;
  }
  .mobile-nav .wrapper {
    height: 100%;
  }
  .mobile-nav__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .mobile-nav__list {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
  }
  .mobile-nav__item {
    z-index: 0;
  }
  .mobile-nav__item:hover, .mobile-nav__item:active, .mobile-nav__item:focus {
    z-index: 2;
  }
  .mobile-nav__link {
    display: grid;
    max-width: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr auto;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-inline: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 2;
    min-height: 80px;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
  }
  .mobile-nav__link:after {
    content: "";
    display: block;
    position: absolute;
    background: var(--white-03);
    top: 0;
    left: 0;
    right: initial;
    width: 100%;
    height: 1px;
  }
  .mobile-nav__link::before {
    content: "";
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 0;
  }
  .mobile-nav__link span {
    position: relative;
    z-index: 2;
  }
  .mobile-nav__link:hover::before, .mobile-nav__link:active::before, .mobile-nav__link:focus::before, .mobile-nav__link.active::before {
    left: -48px;
    right: -48px;
    background-color: var(--gold);
  }
  .mobile-nav__link:hover::after, .mobile-nav__link:active::after, .mobile-nav__link:focus::after, .mobile-nav__link.active::after {
    opacity: 0;
  }
  .mobile-nav__link:hover .icon-move__obj, .mobile-nav__link:active .icon-move__obj, .mobile-nav__link:focus .icon-move__obj, .mobile-nav__link.active .icon-move__obj {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  .mobile-nav__item:first-of-type .mobile-nav__link:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .mobile-nav {
    padding-top: 120px;
  }
  .mobile-nav__link {
    min-height: 60px;
    font-size: 13px;
  }
  .mobile-nav__link:hover::before, .mobile-nav__link:active::before, .mobile-nav__link:focus::before, .mobile-nav__link.active::before {
    left: -40px;
    right: -40px;
  }
}

.hero {
  position: relative;
}
.hero__text {
  margin: 0;
  font-size: 18px;
  color: var(--white-08);
  max-width: 835px;
}
.hero__title {
  font-size: 48px;
  line-height: 117%;
  color: var(--white);
  margin: 0;
  max-width: 835px;
}
.hero__top .custom-grid__col {
  grid-column: span 8;
}
.hero__top .custom-grid__col:nth-child(2n) {
  grid-column: span 4;
}
.hero__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: var(--white);
  width: 100%;
}
.hero__bottom::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-03);
}
.hero__bottom .custom-grid__col {
  grid-column: 9/12;
}
.hero__bottom .custom-grid__col:nth-child(2n) {
  grid-column: span 1;
}
.hero .big {
  margin-top: -62px;
  margin-bottom: 24px;
}
.hero .buttons-group {
  max-width: 100%;
}
.hero .swiper-button {
  width: 100%;
  border-top: none;
}
@media (max-width: 1379px) {
  .hero__top .custom-grid__col {
    grid-column: span 12 !important;
  }
}
.footer {
  background: var(--grey);
  font-weight: 400;
  font-size: 14px;
  color: #ededed;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer a {
  color: var(--light-gold);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer__grid {
  display: grid;
  gap: 24px;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  width: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__logo .logotype {
  width: initial;
}
.footer__developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-align: right;
}
.footer__developers svg {
  margin-left: 16px;
}
@media (max-width: 1023px) {
  .footer__developers {
    max-width: 185px;
  }
}
@media (max-width: 1023px) {
  .footer__grid {
    gap: 20px;
    grid-template-columns: auto 1fr;
  }
  .footer__developers {
    grid-column: span 2;
    max-width: 100%;
  }
  .footer__developers svg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
    margin-right: 12px;
  }
}

.header-sticky .header {
  background-color: var(--grey);
}
.header-sticky .header .button::before {
  border-bottom: none;
}
.header-sticky .header .logotype__scroll {
  display: block;
}
.header-sticky .header .logotype__static {
  display: none;
}
.header-sticky .header__navigation {
  margin-bottom: 0;
}
.header-sticky .navigation__icon {
  top: -6px;
}
@media (min-width: 1505px) {
  .header-sticky .header .scroll-hide {
    display: none;
  }
}
.header-sticky .navigation__link:hover {
  background-color: var(--gold);
}
@media (max-width: 1505px) {
  .header-sticky .header__grid {
    min-height: 65px;
  }
  .header-sticky .menu-button-group__label {
    display: none;
  }
  .header-sticky .menu-button {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .header-sticky .header__grid {
    min-height: 60px;
  }
}

.menu-open {
  overflow: hidden;
}
.menu-open .header {
  background-color: var(--grey);
}
.menu-open .mobile-nav {
  right: 0;
}
.menu-open .menu-button span {
  background-color: transparent;
}
.menu-open .menu-button span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
}
.menu-open .menu-button span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 100%;
}/*# sourceMappingURL=main.css.map */