.label {
  max-width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: var(--lightblue);
  transition: all 0.3s;
  flex-wrap: wrap;
  text-wrap: balance;
  margin: 0;
  margin-bottom: 10px;

  svg {
    display: inline-block;
    margin-left: 16px;
  }

  path {
    stroke: currentColor;
  }
  &--mod {
    position: relative;
    display: flex;
    max-width: max-content;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 80px;
      height: 2px;
      background-color: var(--lightblue);
      margin-left: 16px;
      flex-shrink: 0;
      transition: all 0.3s;
    }
  }

  &:hover {
    color: var(--blue);
    &:after {
      background-color: var(--blue);
    }
  }

  @media (max-width: 767px) {
    &--mod {
      &:after {
        width: 40px;
      }
    }
  }
}
