.swiper-button-group {
  position: relative;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
  max-width: max-content;

  .swiper-button {
    position: initial;
    margin: 0;
    transform: none;
  }
  @media (max-width: 767px) {
    gap: 10px;
  }
}
