.header-sticky {
  .header {
    background-color: var(--grey);
    .button::before {
      border-bottom: none;
    }
    .logotype__scroll {
      display: block;
    }
    .logotype__static {
      display: none;
    }
  }

  .header__navigation {
    margin-bottom: 0;
  }
  .navigation__icon {
    top: -6px;
  }

  @media (min-width: 1505px) {
    .header {
      .scroll-hide {
        display: none;
      }
    }
  }

  .navigation__link:hover {
    background-color: var(--gold);
  }

  @media (max-width: 1505px) {
    .header__grid {
      min-height: 65px;
    }
    .menu-button-group__label {
      display: none;
    }
    .menu-button {
      padding-bottom: 0;
    }
  }

  @media (min-width: 1380px) {
  }

  @media (max-width: 1379px) {
  }

  @media (max-width: 767px) {
    .header__grid {
      min-height: 60px;
    }
  }
}
