.menu-open {
  overflow: hidden;

  .header {
    background-color: var(--grey);
  }

  .mobile-nav {
    right: 0;
    // visibility: initial;
    // opacity: initial;
    // pointer-events: initial;
  }

  .menu-button  span {
    background-color: transparent;
  }

  .menu-button  span:after {
    transform: rotate(45deg);
    width: 100%;
    // background-color: var(--white);
  }

  .menu-button  span:before {
    transform: rotate(-45deg);
    width: 100%;
    // background-color: var(--white);
  }


}
