.additional-services {
  background-image: url(../img/big-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 73px;

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 20%;
    color: #fff;
    margin-bottom: 50px;
  }

  &__text {
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    line-height: 133%;
    text-align: center;
    margin-bottom: 57px;
  }

  &__container {
    padding-top: 446px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    color: #fff;
  }
}
