.section {
  max-width: 100%;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 80px;
  &--mod {
    background-color: #f3f8fe;
  }
  &__head {
    margin-bottom: 45px;
  }
  &__head-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto;

    .title {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 50px;
    &__head {
      margin-bottom: 20px;
    }

  }
}
