.contacts {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  min-height: 512px;

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__col {
  }
  &__left {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  &__right {
  }

  &__list {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__list-item {
    margin-bottom: 32px;
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    max-width: max-content;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-07);
    &::before {
      content: "";
      display: block;
      margin-right: 6px;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.address::before {
      background-image: url(../svg/icon-address.svg);
    }
    &.phone::before {
      background-image: url(../svg/icon-phone.svg);
    }
  }
  &__address {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 16px;
    display: inline-block;
  }
  &__tel {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 16px;
    display: block;
    max-width: max-content;
  }

  &__map {
    width: calc(100% / 2);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .map {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1379px) {
    min-height: initial;

    .wrapper {
      padding: 0;
    }
    &__left {
      padding-top: 40px;
      padding-bottom: 30px;
      padding-inline: 48px;
    }

    &__grid {
      display: grid;
      gap: 0;
      grid-template-columns: repeat(1, 1fr);
    }
    &__map {
      height: 512px;
      position: relative;
      right: initial;
      top: initial;

      width: 100%;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }
    &__list-item {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;

      .button {
        margin-top: auto;
      }
    }
  }
  @media (max-width: 1023px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    &__map {
      height: 360px;
    }
    &__address {
      font-size: 16px;
    }
    .button {
      min-height: 45px;
      padding: 10px 20px;
    }
    &__left {
      padding-inline: 40px;
    }
  }

  @media (max-width: 767px) {
    &__map {
      height: 320px;
    }
    &__left {
      padding-inline: 20px;
    }
  }
}
