.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  color: var(--white);
  transition: all 0.3s;
  border-bottom: 1px solid var(--white-03);

  &__grid {
    display: grid;
    // gap: 32px;
    gap: 0;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 208px 1fr 208px;
    position: relative;
    align-items: stretch;
    transition: all 0.3s;
  }

  .button {
    width: 100%;
    max-width: 100%;
    padding-inline: 16px;
    &::before {
      transform: none;
      border-top: none;
    }
    &:last-of-type {
      &::before {
        border-bottom: none;
      }
    }
    &:hover {
      color: var(--light-gold);

      .social {
        path {
          fill: #27ae60;
        }
      }
      svg {
        scale: 1.2;
      }
    }
  }
  &__logotype {
    border-right: 1px solid var(--white-03);
    border-left: 1px solid var(--white-03);
    padding: 15px 40px;
  }
  &__navigation {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navigation {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .menu-button {
    display: none;
  }

  @media (max-width: 1504px) {
    &__grid {
      grid-template-columns: 208px 1fr;
      min-height: 80px;
    }
    &__navigation {
      display: none;
    }
    &__contacts {
      display: grid;
      gap: 0;
      grid-template-columns: repeat(3, auto);
      max-width: max-content;
      margin-left: auto;
    }
    .button::before {
      border-bottom: none;
      border-top: none;
    }
    .button:first-of-type::before {
      border-right: none;
    }
    .menu-button {
      display: flex;
      height: 100%;
    }
  }

  @media (max-width: 1379px) {
  }

  @media (max-width: 1023px) {
    .header__contacts {
      max-width: 100%;
      width: 100%;
    }
    .header__logotype {
      border-right: none;
      padding: 7px 0 0;
    }
    .header__contacts {
      grid-template-columns: 1fr 1fr auto;
      max-width: max-content;
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    // .wrapper {
    //   padding-left: 0;
    // }
    // .logotype__static {
    //   scale: 0.9;
    //   position: initial;
    //   padding: 4px 0;
    // }
    .logotype {
      justify-content: flex-start;
    }

    .button {
      width: 60px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .social,
      svg {
        display: block;
      }
    }
    .header__logotype {
      border-left: none;
      // padding: 3px 0;
    }
    .header__grid {
      grid-template-columns: auto 1fr;
      min-height: 60px;
    }
    .menu-button-group__label {
      display: none;
    }
    .menu-button {
      padding-bottom: 0;
      width: 60px;
    }
  }
}
