.hero {
  position: relative;

  &__text {
    margin: 0;
    font-size: 18px;
    color: var(--white-08);
    max-width: 835px;
  }

  &__title {
    font-size: 48px;
    line-height: 117%;
    color: var(--white);
    margin: 0;
    max-width: 835px;
  }

  &__top {
    .custom-grid__col {
      grid-column: span 8;
      &:nth-child(2n) {
        grid-column: span 4;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: var(--white);
    width: 100%;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--white-03);;
    }

    .custom-grid__col {
      grid-column: 9/ 12;
      &:nth-child(2n) {
        grid-column: span 1;
      }
    }
  }

  .big {
    margin-top: -62px;
    margin-bottom: 24px;
  }

  .buttons-group {
    max-width: 100%;
  }

  .swiper-button {
    width: 100%;
    border-top: none;
  }

  @media (max-width: 1379px) {
    &__top {
      // .custom-grid {
      //   gap: 24px;
      // }
      .custom-grid__col {
        grid-column: span 12 !important;
      }
    }
  }

  @media (max-width: 1023px) {
  }

  @media (max-width: 767px) {
  }
}
