:root {
  // --font-family: "Inter", sans-serif;
  // --second-family: "Tinos", sans-serif;
  // --third-family: "Inter", sans-serif;
  // --font3: "Inter", sans-serif;

  // --darkblue: #000223;
  // --blue: #0057be;
  // --lightblue: #03b6fc;
  // --grey: #5b637b;
  // --bg: #f8f8f8;
  // --white: #fff;

  // --custom-1: rgba(91, 99, 123, 0.3);



  --font-family: "Montserrat", sans-serif;
  --second-family: "Merriweather", sans-serif;

  --grey: #333441;
  --grey-07: rgba(51, 52, 65, 0.7);
  --grey-06: rgba(51, 52, 65, 0.6);

  --gold: #c08f53;
  --white: #fff;
  --white-08: rgba(255, 255, 255, 0.8);
  --white-07: rgba(255, 255, 255, 0.7);
  --white-06: rgba(255, 255, 255, 0.6);
  --white-03: rgba(255, 255, 255, 0.3);
  --white-02: rgba(255, 255, 255, 0.2);
  --light-gold: #f4cb8e;
  --line: #d6d6d9;

  --poster: #418DC9;

  --header-height: 125px;

  --swiper-navigation-size: 88px;

  --modal-bg: rgba(51, 52, 65, 0.7);
  --modal-icon: #C08F53;
  --modal-hover: #C08F53;
  --modal-text: --text;
  --modal-body: #333441;
  --modal-border: var(--white-02);

  @media (max-width: 1379px) {
    --swiper-navigation-size: 80px;
    // --swiper-pagination-bottom: 32px;
  }

  // @media (max-width: 1023px) {
  //   --swiper-navigation-size: 70px;
  // }

  @media (max-width: 767px) {
    --swiper-navigation-size: 60px;
    // --swiper-pagination-bottom: 33px;
  }
}
