:root {
  // --font-family: "Inter", sans-serif;
  // --second-family: "Tinos", sans-serif;
  // --third-family: "Inter", sans-serif;
  // --font3: "Inter", sans-serif;

  // --darkblue: #000223;
  // --blue: #0057be;
  // --lightblue: #03b6fc;
  // --grey: #5b637b;
  // --bg: #f8f8f8;
  // --white: #fff;

  // --custom-1: rgba(91, 99, 123, 0.3);

  // --modal-bg: rgba(0, 87, 190, 0.7);
  // --modal-icon: #03b6fc;
  // --modal-hover: #0057be;
  // --modal-text: --text;

  --font-family: "Montserrat", sans-serif;
  --second-family: "Merriweather", sans-serif;

  --grey: #333441;
  --grey-07: rgba(51, 52, 65, 0.7);

  --gold: #c08f53;
  --white: #fff;
  --white-08: rgba(255, 255, 255, 0.8);
  --white-03: rgba(255, 255, 255, 0.3);
  --light-gold: #f4cb8e;
  --line: #d6d6d9;

  --header-height: 125px;

  --swiper-navigation-size: 88px;
  // --swiper-navigation-sides-offset: 0;
  // --swiper-navigation-top-offset: 50%;
  // --swiper-pagination-bullet-horizontal-gap: 8px;
  // --swiper-pagination-bullet-width: 8px;
  // --swiper-pagination-bullet-height: 8px;
  // --swiper-pagination-color: #fff;
  // --swiper-pagination-bullet-inactive-color: transparent;
  // --swiper-pagination-bullet-inactive-opacity: 1;
  // --swiper-pagination-bottom: 80px;

  // @media (max-width: 1379px) {
  //   --swiper-navigation-size: 80px;
  //   --swiper-pagination-bottom: 32px;
  // }

  // @media (max-width: 1023px) {
  //   --swiper-navigation-size: 70px;
  // }

  // @media (max-width: 767px) {
  //   --swiper-navigation-size: 50px;
  //   --swiper-pagination-bottom: 33px;
  // }
}
