.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.overflow-hidden {
  max-width: 100%;
  overflow-x: hidden;
}

.object-scroll {
  max-width: 100%;
  overflow: auto;

  a {
    display: block;
    width: max-content;
  }
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Скрывает элементы на экранах с максимальной шириной 767px */
@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
}

/* Скрывает элементы на экранах с шириной от 768px до 1379px */
@media (min-width: 768px) and (max-width: 1379px) {
  .tablet-hide {
    display: none !important;
  }
}

/* Скрывает элементы на экранах с минимальной шириной 1380px */
@media (min-width: 1380px) {
  .desktop-hide {
    display: none !important;
  }
}


