.button {
  padding: 20px 27px;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  min-height: 64px;
  transition: all 0.3s;
  position: relative;

  span {
    position: relative;
    z-index: 2;
  }

  svg {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
    pointer-events: none;
    z-index: 0;
    background-color: var(--gold);
    transform: scale(1);
    border-radius: 0;
  }

  &--icon {
    display: grid;
    gap: 12px;
    grid-template-columns: auto auto;
    justify-content: center;

    svg {
      transition: all 0.3s;
    }
  }
  &--full {
    max-width: 100%;
    width: 100%;
    justify-content: center;

    &:hover::before {
      transform: scale(1.03) !important;
    }
  }
  &--transparent {
    &::before {
      display: none;
    }
  }
  &--border {
    &::before {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid #ffffff;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &:hover {
    color: var(--white);
    &::before {
      // background: var(--blue);
      transform: scale(1.07);
    }
  }

  @media (max-width: 767px) {
    min-height: 50px;
    padding: 10px 24px;
  }
}
