.catalog-preview-card {
  position: relative;

  &__image {
    height: 336px;
    width: 100%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.6s;
    }
  }
  &__label {
    // position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    color: var(--grey-07);
    min-height: 32px;
    padding: 8px 16px;
    background-color: var(--white);

    position: absolute;
    top: 0;
    left: 0;
    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.4444 14.4H1.55556V5.6H12.4444M10.1111 0V1.6H3.88889V0H2.33333V1.6H1.55556C0.692222 1.6 0 2.312 0 3.2V14.4C0 14.8243 0.163888 15.2313 0.455612 15.5314C0.747335 15.8314 1.143 16 1.55556 16H12.4444C12.857 16 13.2527 15.8314 13.5444 15.5314C13.8361 15.2313 14 14.8243 14 14.4V3.2C14 2.312 13.3 1.6 12.4444 1.6H11.6667V0' fill='%23C08F53'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      margin-right: 8px;
    }
  }
  &__details {
    position: relative;
    width: 75%;
    margin-left: auto;
    padding: 30px;
    margin-top: -75px;
    transition: all 0.6s;

    background-color: var(--white);
    font-weight: 400;
    font-size: 14px;
    color: var(--grey-07);
  }
  &__name {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: var(--grey);
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    .icon-move {
      margin-left: 16px;
    }
  }
  &__address {
    margin: 0;
    display: block;
    margin-bottom: 10px;
  }
  &__date {
    display: block;
    color: #71717a;
    font-style: normal;
  }
  &__specifications {
    display: grid;
    gap: 10px 16px;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    color: var(--grey);

    li {
      display: flex;
      align-items: center;

      svg {
        display: block;
        margin-right: 16px;
        flex-shrink: 0;
      }
    }
  }

  .play {
    position: absolute;
    top: 0;
    left: 0;
  }
  &--mod {
    .catalog-preview-card__specifications {
      grid-template-columns: repeat(1, 1fr) !important;
      margin-top: 10px;

      li {
        font-size: 14px;
        color: #71717a;
      }

      b {
        color: var(--grey);
      }
    }
    .button {
      margin-top: 24px;
    }
    &:hover {
      .catalog-preview-card__details {
        box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);
      }
      .catalog-preview-card__image img {
        scale: 1.1;
      }
      .icon-move {
        opacity: 0.7;
        transform: translateX(8px);
      }
    }
  }

  &__price {
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: var(--grey);
  }

  &__link {
    display: block;
    &:hover {
      .catalog-preview-card__details {
        box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);
      }
      .catalog-preview-card__image img {
        scale: 1.1;
      }
      .icon-move {
        opacity: 0.7;
        transform: translateX(8px);
      }
      .play {
        width: 55px;
        height: 55px;
      }
    }
  }
  @media (max-width: 1023px) {
    &__details {
      width: 85%;
    }
  }

  @media (max-width: 767px) {
    &__specifications {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
