.form {
  max-width: 100%;
  width: 100%;
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 32px;
    margin-bottom: 32px;
    max-width: 100%;
    width: 100%;
  }

  label {
    display: block;
    margin: 0;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
    color: var(--darkblue);
  }

  &__element {
    position: relative;
    input {
      width: 100%;
      max-width: 100%;
      padding: 14px 20px;
      padding-left: 56px;
      overflow: hidden;
      // outline: none;
      border: 2px solid var(--line);
      border-radius: 0;
      font-weight: 400;
      font-size: 15px;
      color: var(--grey-07);
      transition: all 0.3s;
      height: 48px;
      outline: none;

      &:hover {
        border: 2px solid var(--gold);
      }
    }
    ::placeholder {
      color: inherit;
      font-size: inherit;
    }
  }
  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    top: 13px;
    left: 24px;
    position: absolute;
    pointer-events: none;
  }

  &__agree {
    font-weight: 400;
    font-size: 16px;
    color: inherit;

    label {
      padding-left: calc(24px + 16px);
      cursor: pointer;
      position: relative;

      &::before {
        position: absolute;
        top: -3px;
        left: 0;
        display: block;
        content: "";
        background-color: var(--white);

        border: 1px solid var(--line);
        border-radius: 0;
        width: 24px;
        height: 24px;
        transition: all 0.3s;
      }
      &::after {
        position: absolute;
        top: 4px;
        left: 6px;
        display: block;
        width: 14px;
        height: 10px;
        transition: opacity 0.3s;
        content: "";
        opacity: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5L5 9L13 1' stroke='%231D1D1B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }

      &:hover {
        &::before {
          border: 1px solid var(--gold);
        }
      }
    }

    input:checked + label::after {
      opacity: 1;
    }

    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--gold);
      transition: all 0.3s;
      &:hover {
        color: var(--light-gold);
      }
    }
  }

  &__bottom {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  &__button {
    max-width: 168px;
    width: 100%;
  }

  @media (max-width: 767px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 13px;
    }
    &__bottom {
      gap: 24px;
      grid-template-columns: 1fr;
    }

    &__element {
      input {
        height: 44px;
      }
    }
    &__button {
      max-width: 100%;
      width: 100%;
    }

    //   &__button {
    //     margin: 0 auto;
    //   }
    //   &__element {
    //     input {
    //       font-size: 14px;
    //       padding: 12px 20px;
    //       height: 50px;
    //     }
    //   }
    //   &__agree {
    //     font-size: 14px;
    //   }
  }
}
