.logotype {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c49156;
  transition: all 0.3s;
  position: relative;
  width: 100%;
  height: 100%;

  &__scroll {
    display: none;
    position: absolute;
  }
  &__static {
    position: absolute;

  }
  &__mobile {
    display: none;
  }


  &:hover {
    color: var(--light-gold);
    padding: 15px 40px;
    path {
      fill: currentColor;
    }
  }

  @media (max-width: 767px) {
    &__scroll {
      display: none !important;
    }
    &__static {
      display: none !important;
    }
    &__mobile {
      display: block;
      padding: 7px 0 0;
    }
  }
}
