.logotype {
  display: flex;
  padding: 32px 40px;
  justify-content: center;
  align-items: center;
  color: #c49156;
  transition: all 0.3s;
  height: 120px;

  &__scroll {
    display: none;
    position: absolute;
  }
  &__static {
    position: absolute;
  }

  path {
    fill: currentColor;
  }
  &:hover {
    color: var(--light-gold);
    padding: 15px 40px;
  }
}
