.menu-button {
  display: flex;

  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  // border: none;
  width: 80px;
  height: 80px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid var(--white-03);
  padding-bottom: 20px;

  span,
  span::after,
  span::before {
    flex-shrink: 0;
    position: absolute;
    width: 32px;
    height: 2px;
    // border-radius: 4px;
    background-color: var(--gold);
  }

  span::after,
  span::before {
    content: "";
    display: block;
    transition: 0.3s;
  }

  span::before {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    width: 32px;
  }

  span::after {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    width: 32px;
  }

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}

.menu-button-group {
  display: none;

  @media (max-width: 1504px) {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    &__label {
      position: absolute;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--white);
      text-align: center;
      bottom: 12px;
      left: 0;
      width: 100%;
    }
  }
}
