.navigation {
  width: 100%;
  max-width: 100%;

  &__list {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    position: relative;

    // &:after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   background: var(--white);
    //   opacity: 0.3;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 1px;
    // }
  }
  &__item {
    max-width: max-content;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: -26px;
    left: 50%;
    color: var(--gold);
    transition: all 0.3s;
    path {
      stroke: currentColor;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__link {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-inline: 20px;
    // min-height: 56px;
    transition: all 0.3s;
    position: relative;
    z-index: 2;

    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--white);
    &:hover,
    &:active,
    &:focus {

      .navigation__icon {
        color: var(--light-gold);



      }
    }
  }



  // &__item:not(:last-of-type) &__link:after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   background: var(--white);
  //   opacity: 0.3;
  //   top: 0;
  //   right: 0;
  //   width: 1px;
  //   height: 100%;
  // }
}
