.wrapper {
  max-width: calc(1408px + (48px * 2));
  width: 100%;
  margin-inline: auto;
  padding-inline: 48px;

  @media (max-width: 1503px) {
    max-width: 100%;

  }

  @media (max-width: 1023px) {
    padding-inline: 40px;
  }

  @media (max-width: 767px) {
    padding-inline: 20px;
  }
}


// 1408 + 48px
